
#top {
/*    width: 100%;
    height: 100px;*/
    margin-left: -10px;
    //position: relative;
    /*background-image: url(.././..//Image/logo.JPG);*/
    background-image: url(../..//.//Image/logo2.JPG);      
    /*background-image: url(logo.JPG);*/
    /*background-color: #036fab;*/
    /*color: white;*/
    padding: 50px;
    margin: 10px 0px 0px 0px;
}
/*
#menu{
    position: relative;   
   // padding: 10px;
    margin: 0px 0px 0px 0px;
}*/

#bottom {
    float: bottom;
    position: relative;
    background-image: url(../..//Image/PiedPageFSI.JPG);   
    padding: 50px;
   // margin: 0px 0px 0px 0px;
}
/*
#left {
    float: left;
    background-color: #ece3a5;
    padding: 1px;
    width: 175px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}*/

.center_content {
    //position: relative;
    background-color: #dddddd;
    padding: 10px;
    //alignment-adjust: central;
   text-align: left;
   
}

/*.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}*/

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#content{
    
}

#content table {
   
}


